body {
    margin: 0;
    height:100vh;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .row {
    display: flex;
    flex: 1;
  }
  
  .box {
    flex: 1;
    border: 1px solid black;
  }
  
  .white {
    background-color: white;
  }
  
  .green {
    background-color: green;
  }
  